Flask>=2.2.3
modelscope
fairseq
opencv-python
timm
ftfy>=6.0.3
tensorboardX>=2.4.1
pycocotools
pycocoevalcap>=1.2
pytorch_lightning
einops
datasets
rouge_score
soundfile
editdistance
librosa
python-Levenshtein
zhconv
pypinyin>=0.47.1
protobuf>=3.20.*
transformers
unicodedata2
decord>=0.6.0
